-title "Edit Gallery"
-content_for :toolbar do
  =link_to admin_gallery_path(@gallery) do
    %i.fa.fa-fw.fa-ban
    Cancel

%h1 Edit Gallery
%p
  %b Note:
  This modifies only the gallery-specific settings. Please open the gallery view from the
  main menu to modify the gallery contents.

=render 'form'
