-content_for :toolbar do
  =link_to new_admin_gallery_path do
    %i.fa.fa-fw.fa-plus
    New Gallery

-@galleries.each do |g|
  =link_to [:admin, g] do
    %div.gallery{style: "background-image: url('#{g.cover.path(:medium)}');"}
      %div.count #{g.images.count} Images
      %div.name=g.name
