-content_for :toolbar do
  =link_to new_admin_gallery_path do
    %i.fa.fa-fw.fa-plus
    New Gallery

-@galleries.each do |g|
  =link_to [:admin, g] do
    %div.gallery{style: "background-image: url('#{image_path('TheEyeOfGod_BG.jpg')}');"}
      %div.count 32 Images
      %div.name=g.name
