=content_for :toolbar do
  =link_to edit_admin_gallery_path(@gallery) do
    %i.fa.fa-fw.fa-pencil
    Edit Gallery
  %a{href: '#'}
    %i.fa.fa-fw.fa-upload
    Upload Images
  =link_to admin_gallery_path(@gallery), method: :delete, confirm: "Really delete #{@gallery.name}?" do
    %i.fa.fa-fw.fa-trash
    Delete Gallery

%h1=@gallery.name
=simple_format @gallery.description

%p Ready for Images, cap'n.
