-title @gallery.name
-content_for :toolbar do
  =link_to edit_admin_gallery_path(@gallery) do
    %i.fa.fa-fw.fa-pencil
    Edit Gallery
  =link_to new_admin_gallery_image_path(@gallery) do
    %i.fa.fa-fw.fa-upload
    Upload Images
  =link_to admin_gallery_path(@gallery), method: :delete, confirm: "Really delete #{@gallery.name}?" do
    %i.fa.fa-fw.fa-trash
    Delete Gallery

%h1=@gallery.name
=simple_format @gallery.description

-@gallery.images.each do |i|
  =link_to edit_admin_gallery_image_path(@gallery, i) do
    %div.gallery{style: "background-image: url('#{image_path i.image}');"}
      %div.name=i.name
