-title "Admin"

:javascript
  var options = {
    animation: false,
    scaleShowGridLines: false,
    pointDot: false,
    responsive: true
  }

  var visitors = {
    labels: #{@range.to_a.to_json},
    datasets: [
      {
        fillColor:   "transparent",
        strokeColor: "#777",
        data:        #{@range.to_a.collect {|d| @total[:views][d] || 0}.to_json}
      },
      {
        fillColor:   "transparent",
        strokeColor: "#700",
        data:        #{@range.to_a.collect {|d| @total[:sessions][d] || 0}.to_json}
      }
    ]
  }

  $(document).ready(function() {
    var ctx = document.getElementById("visitors").getContext("2d");
    window.visitorChart = new Chart(ctx).Line(visitors, options);
  });

%h1 Welcome, #{current_user.username}

%div.two-col
  %div.col-box
    %h2 Action Items
    %p Nothing to do.

  %div.col-box
    %h2 Inbox
    %p No new messages.

  %div.col-box
    %h2 Visitors

    %table
      %tr
        %th
        %th Page Views
        %th Sessions
        %th PPS
      %tr
        %td Total
        %td=@total[:views].values.sum
        %td=@total[:sessions].values.sum
        %td=@total[:pps].values.sum
      %tr
        %td Average
        %td=@total[:views].values.sum / @total[:views].size
        %td=@total[:sessions].values.sum / @total[:views].size
        %td=@total[:pps].values.sum / @total[:views].size

    %canvas#visitors{height: 150}
