%nav
  =link_to admin_root_path, class: 'user' do
    %div.user
      %img{src: current_user.avatar.url}/
      %div.username=current_user.username
      %div.userrank=current_user.admin? ? "Administrator" : "User"

  %ul.accordion-nav
    -nav_menu 'Pages', 'file-text-o', 'admin/pages' do
      -nav_to 'All Pages', admin_pages_path
      -nav_to 'New Page', new_admin_page_path
