%nav
  %a.user{href: '#'}
    %div.user
      %img{src: current_user.avatar.url}/
      %div.username=current_user.username
      %div.userrank=current_user.admin? ? "Administrator" : "User"

  %ul.accordion-nav
    %li
      %a
        %i.fa.fa-cog
        Settings
        %i.fa.fa-chevron-right.collapse-icon

      %ul
        %li
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1
          %a.active{href: '#'} Option 1
          %a{href: '#'} Option 1

    %li
      %a{href: '#'}
        %i.fa.fa-inbox
        Feedback
        %i.fa.fa-chevron-right.collapse-icon

      %ul
        %li
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1

    %li
      %a{href: '#'}
        %i.fa.fa-globe
        Website
        %i.fa.fa-chevron-right.collapse-icon

      %ul
        %li
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1
