%nav
  %a.user{href: '#'}
    %div.user
      %img{src: 'https://pbs.twimg.com/profile_images/624760480037351424/Kolw_W6X_bigger.jpg'}/
      %div.username William Eisert
      %div.userrank Administrator

  %ul.accordion-nav
    %li
      %a
        %i.fa.fa-cog
        Settings
        %i.fa.fa-chevron-right.collapse-icon

      %ul
        %li
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1
          %a.active{href: '#'} Option 1
          %a{href: '#'} Option 1

    %li
      %a{href: '#'}
        %i.fa.fa-inbox
        Feedback
        %i.fa.fa-chevron-right.collapse-icon

      %ul
        %li
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1

    %li
      %a{href: '#'}
        %i.fa.fa-globe
        Website
        %i.fa.fa-chevron-right.collapse-icon

      %ul
        %li
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1
          %a{href: '#'} Option 1
