/**
 * @project Eisert Development Customer Portal
 */

// Site Theme
$main-color:    #770000;
$accent-dark:   #FFFFFF;
$accent-light:  #EEEEEE;
$text-color:    #000000;
$text-dim:      #000000;
$dtext-color:   #FFFFFF;
$dtext-dim:     #FFFFFF;

