
// Admin Command Popover

div#admin-command {
  position: absolute;
  left: 50%;
  margin-left: -165px;
  background-color: #CCCCCC;
  width: 360px;
  top: 60px;
  z-index: 30;
  box-shadow: 0 0 10px #000;
  display: none;

  input {
    font: inherit;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
  }

  div#command-suggest {
    padding: 10px;
  }
}

// Grid View

div.two-col {
  -webkit-column-width: 300px;
     -moz-column-width: 300px;
          column-width: 300px;

  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;

  width: 100%;

  div.col-box {
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;

    margin-top: 0px;
    padding-bottom: 15px;

    h2 {
      margin-top: 0px;
      margin-bottom: 10px;
      border-bottom: 1px solid #CCC;
    }

    canvas, table, p {
      margin-top: 10px;
    }
  }
}

div.widgets {
  -webkit-column-width: 150px;
     -moz-column-width: 150px;
          column-width: 150px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;

  div.widget-box {
    background-color: #F77;
    border-radius: 5px;
    text-align: center;
    padding: 5px;

    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;

    div.number {
      font-size: 24px;

      span.supplimental {
        font-size: 16px;
      }
    }

    div.caption {
      font-size: 12px;
    }
  }
}

div#foodchain {
  div.image {
    margin-bottom: 1em;
    background-color: #EEE;
    padding: 5px 10px;

    div.filename {
      font-weight: bold;
    }

    div.status {
      text-align: right;
    }
  }
}
