%nav
    %ul
        %li
            %a{href:'#'}Link
        %li
            %a{href:'#'}Link
        %li
            %a{href:'#'}Link
        %li
            %a{href:'#'}Link
        %li
            %a{href:'#'}Hey, Listen!
