=md "# Markdown Halp"
=md "This website uses [Markdown](http://rmarkdown.rstudio.com/authoring_basics.html) for _formatting_."
=md "## More Information"
Follow the link above for more information about Markdown.
