/**
 * @project PriceWal - An implementation of SimpleSite::Gallery (SimpleGallery)
 * @client  Charles Price <elemen.royale@gmail.com>
 *          John Rachwal <john@pricew.al>
 *
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800|Open+Sans+Condensed:300);

// Colors
$white: #FFFFFF;
$black: #000000;
$red:   #770000;
$dred:  #C30000;
$lred:  #FFFFFF;
$green: #007700;

// Sizing
$width: 528px;
$half:  $width / 2;
$break: $width * 2;
$rtop:  168px;
$top:   237px;
$l:     32px;

//------------------------------------------------------------------------------

body, html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

// Text Styling

h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: lowercase;
    font-weight: normal;
    text-align: right;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    margin-right: -25px;
    margin-left: -15px;
    padding-right: 40px;
    background-color: #FFF;
    color: #000;
    
    &:after {
        position: absolute;
        right: -10px;
        z-index: -1;
        height: 30px;
        display: block;
        border-top: 10px solid #000;
        border-right: 15px solid transparent;
        content: "";
    }
}

hr {
  height: 1px;
  border: none;
  color: #FFF;
  background-color: #FFF;
}

// Tables

table {
  width: 100%;
  border-collapse: collapse;

  &.lr td:last-child {
    text-align: right;
  }
}

// Top Menu

div#top {
  background-color: $red;
  padding: 5px 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: smaller;

  nav {
    float: right;
    margin: -5px -15px;
  
    a {
      display: block;
      padding: 5px 10px;
      text-transform: lowercase;
      color: $white;

      &:hover {
        text-decoration: none;
        background-color: $dred;
      }
    }
  }
}

// Anchors

a:link, a:visited, a:active, a:hover {
    color: #AAA;
    text-decoration: none;
}

a:hover {
    color: #FFF;
    text-decoration: underline;
}

// Some other things

div#flashes {
  margin: -15px -15px 15px -15px;

  div {
    padding: 15px;
    border-bottom: 1px solid $red;

    &.error  { background-color: $dred; }
    &.notice { background-color: $green; }
  }
}

// Header Formatting

header {
    width: 100%;

    div.title-black,
    div.title-red {
        position: absolute;
        padding: 0px;
        z-index: 10;
        height: 69px;
        overflow: hidden;

        span.title-black-text,
        span.title-red-text {
            font-weight: 800;
            text-transform: uppercase;
            font-size: 96px;
            line-height: 64px;
        }
    }

    div.title-black {
        color: #FFF;
        background-color: #700;
        left: 0;
        right: 50%;
        top: 100px;
        margin-right: 32px;
        text-align: right;

        span.title-black-text {
            position: absolute;
            right: 229px;
            z-index: 100;
        }
    }

    div.title-red {
        color: #700;
        background-color: #FFF;
        left: 50%;
        right: 0;
        top: $rtop;
        margin-left: -$width;

        span.title-red-text {
          z-index: 99;
          position: absolute;
          display: inline-block;
          transform: scale(1.2, 1);
          left: 284px;
        }
    }
}

// Content Formatting

div#content {
    background-color: #700;
    padding: 15px;
    box-sizing: border-box;

    width: $width;
    margin: $top auto 0 auto;

    position: relative;
    right: $half;
}

// Forms

form {
    input, select, textarea, button, label {
      box-sizing: border-box;
      font: inherit;
      display: block;
      border: none;
      background-color: $white;

      &.half {
        width: 55%;
        min-width: 200px;
      }

      &:disabled {
        color: #333;
        background-color: #CCC;
        cursor: not-allowed;
      }
    }

    input, select, textarea {
      margin-bottom: 15px;
      width: 100%;
      padding: 5px 10px;
      border: 1px solid $dred;
      background-color: $lred;
    }

    textarea {
      min-height: 150px;
    }
    
    button, input[type=submit] {
      margin-bottom: 0;
      background-color: $dred;
      padding: 10px;
      color: $white;
      font-weight: bold;
    }

    label {
      padding: 5px 10px;
      background-color: $dred;
      color: $white;
    }

    input[type=checkbox] {
      float: left;
      width: auto;
      margin: 10px;
    }

    input[type=checkbox]~label {
      margin-bottom: 15px;
      padding-left: 20px;
    }
}

// Navigation (Main)

nav {
    position: absolute;
    top: $top;
    width: 100%;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 100px;

        li {
            display: block;
            position: relative;
            height: 45px;
            margin-top: 10px;
            overflow: hidden;

            a {
              font-size: 64px;
              text-transform: uppercase;
              font-weight: 800;
              position: relative;
              top: -23px;
              cursor: pointer;

              &:hover {
                text-decoration: none;
                color: $black !important;
              }
            }

            &:nth-child(odd) {
              background-color: $red;
              text-align: right;
              right: 50%;

              a {
                color: $white;
                right: 10px;
              }
            }

            &:nth-child(even) {
              background-color: $white;
              text-align: left;
              left: 50%;
              margin-left: -$width;

              a {
                color: $red;
                left: 10px;
              }
            }
        }
    }


}

// Responsive

@media (max-width: $break) {
  div#content {
    margin: $top auto 0 0;
    width: 100%;
    max-width: $width;
    right: auto;
    left: 0;
  }

  header {
    div.title-red {
      width: 100%;
      left: 0;
      margin-left: 0;

      span.title-red-text {
        @media (max-width: $width) {
          right: 18px;
          left: auto;
        }
      }
    }

    div.title-black {
      left: 0;
      max-width: $width - $l;
      right: 0;
      margin-right: 0;

      span.title-black-text {
        left: -7px;
        right: auto;
      }
    }
  }

  nav ul li {
    left: 0;
    right: 0;

    &:nth-child(even) {
      margin-left: 0;
      left: 0;
    }
  }
}
