<%- if current_page? controller: 'static', action: 'home' %>
  <%= yield %>
<% else %>
<div id="content">
  <div id="flashes">
  <% flash.each do |key, val| %>
    <div class='<%= key %>'><%= val %></div>
  <% end %>
  </div>
  
  <%= yield %>
</div>
<% end %>
